.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d5e7f9;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.qr-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.qr-section:hover {
  transform: scale(1.05);
}

.qr-section h1 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.play-game-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-left: 60px;
}

.play-game-button:hover {
  background-color: #0056b3;
}

.play-game-button-container-description {
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto';
}

.or-option {
  font-weight: 1000;
  font-size: 25px;
}

.play-game-button-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .play-game-button-container {
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
