.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.widget-section {
  display: flex;
  background-color: #363c43;
  height: 60vh;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.side-bar {
  display: flex;
  flex-direction: column;
  width: 10%;
  background-color: transparent;
  padding: 10px;
}

.icon {
  color: #fff;
  margin-right: 5px;
}

.icon-2 {
  margin-top: 100px;
  color: #fff;
}

.detail-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  background-color: transparent;
  padding: 10px;
  width: 90%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(10, 9, 9);
  padding: 10px;
  width: 90%;
  height: 20%;
  margin-top: 10px;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.gallery-widget {
  display: flex;
  background-color: #363c43;
  min-height: 60vh;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  background-color: transparent;
  padding: 10px;
  width: 90%;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.gallery-button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: skyblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-add-button {
  margin-right: 70px;
}
.add-image-button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: skyblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.images-add-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 90%;
}
